.quill-editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.quill-editor-container .ql-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.quill-editor-container .ql-editor {
  flex: 1;
  min-height: 200px;
}